<h1 align="center" class="display-4 mb-5">Modifica Profilo</h1>
<div style="width:40%; margin: 25px auto" >
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Indirizzo Email</b></label>
        <input readonly [value]=user?.email type="email" class="form-control form-control-lg " disabled id="email"
               name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label><b>Nome</b></label>
      <input [(ngModel)]="user.name" type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Your name" required #name="ngModel" autofocus>
      <div  *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          E' richiesto un nome.
        </div>
        <div *ngIf="name.errors.minlength">
          Il nome deve essere lungo almeno 3 caratteri.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Password</b></label>
      <input  [(ngModel)]="user.password" type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" minlength="3" required #password="ngModel">
      <div  *ngIf="password.invalid && (password.dirty ||password.touched)">
        <div *ngIf="password.errors.required">
          E' richiesta una password.
        </div>
        <div *ngIf="password.errors.minlength">
          La password deve essere lunga almeno 3 caratteri.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Telefono</b></label>
      <input [(ngModel)]="user.phone" type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Phone" required #phone="ngModel" >
      <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
        <div *ngIf="phone.errors.required">
          E' richiesto un numero di telefono.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Indirizzo</b></label>
      <input [(ngModel)]="user.address" type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Address" required #address="ngModel">
      <div  *ngIf="address.invalid && (address.dirty ||address.touched)">
        <div *ngIf="address.errors.required">
          E' richiesto un indirizzo.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn-custom btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Aggiorna</button>
    </div>
  </form>
</div>

